// @import "compass/css3";

.allen {
  font-family: 'Balthazar';
  font-size: 11pt;
  -webkit-perspective: 600px;
    perspective: 600px;
    position: relative;
    left : 25vw;
    margin-bottom: 5em;
}

.card {
  zoom : 1.15;
  background: linear-gradient(fade-out(white, 0.1), fade-out(darken(white, 30%), 0.1));
  color: #000000;
  display: flex;
  flex-flow: column;
  height: 2in;
  justify-content: space-between;
  margin: 55px auto;
  position: relative;
  width: 3.5in;
  text-transform: uppercase;
  -webkit-transform: rotate3d(1, 1, -1, 22deg);
    transform: rotate3d(1, 1, -1, 22deg);
  box-shadow: -4px 5px 10px fade-out(black, 0.75), inset 1px 1px 3px white;
  > * {
    text-shadow: 1px 1px 0px white;
  }
}

// Top row
.top {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 6pt 12pt 0 12pt;
  .top-right {
    text-align: center;
    .firm {
      font-size: 10pt;
    }
    .department {
    font-size: 6pt;
    }
  }
}

// Middle row
.middle {
  display: flex;
  flex-flow: column;
  text-align: center;
  color : black !important;
  font-weight: bold;
  font-size: 15pt;
  .name span {
    font-size: 0.95rem;
  }
  .title {
    font-size: 9pt;
    color: fade-out(black, 0.15);
    letter-spacing: -0.4pt;
    font-weight: bolder;
  }
}

// Bottom row
.bottom {
  display: flex;
  flex-flow: column;
  font-size: 8pt;
  padding: 0 0 8pt 0;
  text-align: center;
  span {
    display: block;
  }
}

.watermark {
  position: absolute;
  bottom: 6px;
  left: 10px;
  text-transform : lowercase;
  font-size : 0.8em;
  color: fade-out(black, 0.9);
  text-decoration: none;
  text-shadow: 1px 1px 0px fade-out(white, 0.6);
  transition: color 750ms ease;
  &:hover {
    color: inherit;
  }
  span {
    margin-right: 2pt;
  }
}

// Text
.scene {
  color: hsla(0, 0%, 13.3%, 1);;
  margin: 100px auto;
  width: 400px;
  p {
    line-height: 1.65em;
    text-align: justify;
    a {
      color: inherit;
    }
  }
}