* {
  margin: 0px;
}

.heighter{
  height : 100vh; 
  min-width : 78%;
}

.name {
  font-family: "Inconsolata";
  font-size: 43px;
  color: white;
  position: absolute;
  bottom: 28%;
  right: 10vw;
  font-weight: lighter;
  font-stretch: expanded;
}

.avatar {
  position: absolute;
  top: 27%;
  right: 12vw;
  height: 29vh;
  border-radius: 100%;
  border: 0.9px solid white;
  }

.info {
  height : 100vh; 
  width : 100%;
  font-family: "Inconsolata";
  background-color: rgb(245, 245, 245);
}


.terminal-window header .button {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 3.8rem;
  margin-right: 7px;
}

.green {
  background: #3BB662;
}

.yellow {
  background: #f2d12e;
}

.red {
  margin-left: 1.2rem;
  background: #E75448;
}

@media only screen and (min-width : 700px) {
  .terminal-window section.terminal {
    color: white;
    font-family: "Fira Code", monospace;
    font-size: 1.3vw;
    background: #011820;
    padding: 1.3em;
    box-sizing: border-box;
    position: relative;
    width: 50vw;
    font-stretch: extra-expanded;
    overflow: auto;
    height: 50vh;
    border-radius: 0 0 25px 25px;
  }

  .terminal-window {
    border-radius: .625rem;
    position: relative;
    top: 17vh;
    right: -20vw;
    float: right;
  }
  
  .terminal-window header {
    background: hsl(211, 47%, 91%);
    height: 30px;
    border-radius: 1rem 1rem 0 0;
    width: 49.7vw;
    display: flex;
    align-items: center;
    padding: 6.5px 2px;
    flex-direction: row;
  }
  .filename{
    color: black;
    font: "Ubuntu Mono";
    font-weight: bold;
    font-size: 1.1em;
    transform: translateX(14vw);
    letter-spacing: 0.2px;
  }
  .sidebar{
    display: flex;
    flex-direction: column;
    position :fixed;
    width: 22vw;
    height: 100vh;
    top:0;
    left: 0;
    background: #011820;
    padding-top: 40px;
 }
  
}

@media only screen and (max-width : 700px) {
  .terminal-window section.terminal {
    color: white;
    font-family: "Fira Code", monospace;
    font-size: 3vw;
    background: #011820;
    padding: 1em;
    box-sizing: border-box;
    position: relative;
    width: 80vw;
    font-stretch: extra-expanded;
    overflow: auto;
    height: 50vh;
    border-radius: 0 0 25px 25px;
  }

  .terminal-window {
    border-radius: .625rem;
    position: relative;
    top: 5vh;
    right: 8vw;
    float: right;
  }
  
  .terminal-window header {
    background: hsl(211, 47%, 91%);
    height: 30px;
    border-radius: 1rem 1rem 0 0;
    width: 79.5vw;
    display: flex;
    align-items: center;
    padding: 6.5px 2px;
    flex-direction: row;
  }
  .filename{
    color: black;
    font: "Ubuntu Mono";
    font-weight: bold;
    font-size: 1.1em;
    transform: translateX(16vw);
    letter-spacing: 0.2px;
  }
  .sidebar{
    display: none;
 }
  

}
.typer{
  color: aquamarine;
  height: 20px;
  padding-top: 10px;
}

.history{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 0%;
  left: 0%;
}

.run{
  position: relative;
  float: right;
  background: #011820;
  border-width: 0px;
  cursor: pointer;
  margin-right: 30px;
}
 
.heading{
  font-size: 3em;
  margin: 30px 2em 30px 0em;
  position: relative;
  color: #011820;
  float: right;
  letter-spacing: -1px;
}

.sidebar h1{
  display: block;
  color: white;
  font-family: "Fira Code";
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  margin-bottom: 2em;
}

.sidebar div{
   display: block;
   padding: 1.3em;
   color: rgb(182, 182, 182);
   font-family: "Fira Code";
   letter-spacing: 0.3px;
   font-size: 1.24em;
   text-align: right;
   font-weight: 200;
   margin-right: 3%;
}

.sidebar div:hover {
   color: #fff;
   cursor: pointer;
}

.sidebar p{
  color: rgb(216, 216, 216);
  font-size: 1.17em;
  margin-top: 1vh;
  transition: 0.5s linear;
  font-family: "Ubuntu Mono";
  justify-self :start;
  align-self: center;
}

.sidebar article{
  color: rgb(165, 165, 165);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;
  cursor: pointer;
  transition: 0.5s linear;
}

.sidebar article:hover{
  color: white;
  transition: 0.2s;
}

hr{
  margin-top: 2vh;
  width: 76%;
}