* {
  margin: 0px;
}

.heighter{
  height : 100vh; 
  min-width : 100%
}

.name {
  font-family: "Kaisei Decol";
  font-size: 9px;
  color: white;
  position: absolute;
  bottom: 28%;
  right: 10vw;
  font-weight:bolder;
  font-stretch: expanded;
}

.avatar {
  position: absolute;
  top: 27%;
  right: 12vw;
  height: 29vh;
  border-radius: 100%;
  border: 0.9px solid white;
  }

.info {
  height : 100vh; 
  width : 100%;
  color: whitesmoke;
  font-family: "Nunito";
  background-color: #f5f5f5;
}


.terminal-window {
  width: 90vw;
  height: 40vh;
  border-radius: .625rem;
  position: relative;
  top: 10vh;
  right: 1vw;
  margin: auto auto;
}

.terminal-window header {
  background: hsl(210, 35%, 91%);
  height: 7px;
  border-radius: .5rem .5rem 0 0;
  width: 80vw;
  display: flex;
  padding-top: 5px;
  flex-direction: row;
}

.terminal-window header .button {
  width: 3.8px;
  height: 3.8px;
  display: inline-block;
  border-radius: .5rem;
  margin-right: 1.5px;
}

.green {
  background: #3BB662;
}

.yellow {
  background: #f3d647;
}

.red {
  margin-left: .325rem;
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: "Fira Code", monospace;
  font-size: 4px;
  background: #011820;
  padding: 1.3em;
  box-sizing: border-box;
  position: relative;
  width: 80vw;
  font-stretch: extra-expanded;
  overflow: auto;
  height: 60vh;
  border-radius: 0 0 5px 5px;
}

.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}

.typer{
  color: aquamarine;
  height: 20px;
  padding-top: 10px;
}


.history{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 40%;
  left: 0px;
}